<div class="mt-4">
    <h2 class="text-center">Cập Nhật Khóa Học</h2>
    <form class="mt-4" method="POST" action="/courses/{{course._id}}?_method=PUT">
        <div class="mb-3 form-group">
            <label class="form-label">Tên Khóa Học</label>
            <input type="text" class="form-control" value="{{course.name}}" id="name" name="name">
        </div>
        <div class="mb-3 form-group">
            <label class="form-label">Mô tả khóa học</label>
            <textarea class="form-control" id="description" name="description">{{course.description}}</textarea>
        </div>
        <div class="mb-3 form-group">
            <label class="form-label">ID Video Khóa Học</label>
            <input type="text" class="form-control" value="{{course.videoId}}" id="videoId" name="videoId">
        </div>
        <div class="mb-3 form-group">
            <label class="form-label">Level Khóa Học</label>
            <input type="text" class="form-control" value="{{course.level}}" id="level" name="level">
        </div>
        <button type="submit" class="btn btn-primary">Lưu Lại</button>
    </form>
</div>